
header {
    text-align: center;
    //background: #18BC9C;
    //background: #FFD10F; background: -webkit-linear-gradient(to left, #FFD10F , #F09819); background: linear-gradient(to right, #FFD10F , #F09819);
    background: $primary-color;
    color: white;
}
header.landing{
    background: url('../../assets/images/background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    //filter: brightness(10%);
}

header .container {
    padding-top: 50px;
    padding-bottom: 50px;
}
header img {
    display: block;
    margin: 0 auto 20px;
    filter: brightness(100%);
    -moz-box-shadow:    3px 3px 15px 4px black;
    -webkit-box-shadow: 3px 3px 15px 4px black;
    box-shadow:         3px 3px 15px 4px black;
}
header .intro-text .name {
    display: block;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2em;
}
header .intro-text .skills {
    font-size: 1.25em;
    font-weight: 300;
}
@media (min-width: 768px) {
    header .container {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    header .intro-text .name {
        font-size: 4.75em;
    }
    header .intro-text .skills {
        font-size: 1.75em;
    }
}
